category {
  min-height: 500px;

  .cat {
    padding: 15px 0;
    background: #fafafa;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .content {
    min-height: 1400px;
    border-left: 1px solid #f3f3f3;
    padding: 10px 0 0 0;

    
    .search-results {
      display: flex;

      &.list {
        margin-left: 20px;

        .items {
          min-height: 500px;
          width: 100%;

          .item {
            display: table;
            padding: 16px 0;
            border-bottom: 1px solid #f3f3f3;

            a {
              img {
                width: 220px;
                height: 220px;
                padding: 1%;
                display: inline-table;
              }

              .rating {
                @include font-size(12px);

                bar-rating {
                  display: inline-block;

                  .br {

                    .br-unit {
                      @include font-size(12px);
                      width: 12px;
                      margin-right: 1px;
                    }
                  }
                }
              }
            }

            .meta {
              width: 79%;
              display: inline-table;
              vertical-align: top;

              a {
                display: inline-table;
                width: 78%;
                color: #333;

                h4 {
                  @include font-size(18px);
                  line-height: 1.2;
                  margin: 0 0 20px 0;
                  height: 2.4em;
                  overflow: hidden;
                  padding: 0;
                  line-height: 1.2;
                  text-overflow: ellipsis;
                }

                p {
                  @include font-size(14px);
                  position: relative;
                  margin-top: 10px;
                  padding: 0 0 8px;
                  color: #6d6e71;
                  height: 4em;
                  overflow: hidden;
                  padding: 0;
                  line-height: 1.2;
                }

                &:visited {

                  h4 {
                    color: #333;
                  }
                }
              }

              .price {
                @include font-size(15px);
                color: #333;
                display: block;
                font-weight: 700;
                padding-top: 16px;
                display: inline-table;
                width: 22%;
                text-align: right;
              }
            }

          }
        }
      }

      &.grid {
        .items {
          min-height: 500px;
          width: 100%;
          padding-left: 20px;

          .item {
            display: inline-flex;
            margin-bottom: 20px;
            width: 25%;
            border-bottom: 1px solid #f3f3f3;
            padding: 16px 4px;

            a {
              color: #333;

              img {
                width: 250px;
                height: 250px;
                padding: 20px;
              }

              h4 {
                @include font-size(16px);
                line-height: 18px;
                margin: 0 0 10px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                height: 40px;
              }

              p {
                display: none;
              }

              &:visited {
                color: #333;
              }
            }

            .price {
              color: $black;
              display: block;
              @include font-size(16px);
              font-family: 'AB', serif;
              font-weight: 700;
              padding-top: 10px;
            }
          }
        }
      }
    }

    pagination {
      margin: 20px 0;
      display: block;
    }
  }

}
