<footer class="reg">
  <div class="container">
    <div class="row">
      <div class="col col-md-4">
        <img class="reg-logo" src="/assets/svg/cart.svg" />
        <h5 class="reg-title">Online Grocery Database</h5>
        <p class="reg-desc">Grceri is the best solution for searching over 140,000+ food products online. We are solving all your
          online shopping needs.</p>
        <div class="reg__social">
          <a src="http://facebook.com/grceri" target="_blank" class="reg__social-link">
            <i class="fa fa-facebook"></i>
          </a>
          <a src="http://pinterest.com/grceri" target="_blank" class="reg__social-link">
            <i class="fa fa-pinterest"></i>
          </a>
          <a src="http://twitter.com/grceri" target="_blank" class="reg__social-link">
            <i class="fa fa-twitter"></i>
          </a>
          <a src="http://instagram.com/grceri" target="_blank" class="reg__social-link">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <ul class="reg__links">
          <li class="reg__links-link reg__links-link-copyright">© Grceri</li>
          <li class="reg__links-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/policies">Privacy & Terms</a>
          </li>
        </ul>
      </div>
      <footer-nav class="col col-md-3 col-md-offset-5 reg__nav"></footer-nav>
    </div>
  </div>
</footer>