<div class="cat">
  <div class="container">
    <breadcrumb></breadcrumb>
  </div>
</div>

<div class="container">
  <div class="sidebar col col-md-2">
    <sidebar [availableFilters]="availableFilters" [activatedFilters]="activatedFilters" (activeFilters)="changeFilterStatus($event)"></sidebar>
  </div>
  <div class="content col col-md-10">
    <div class="filters arrange">
      <div class="arrange_unit middle count">
        Showing 1-40 of {{ dispItems.length }} results
      </div>
      <div class="arrange_unit filter">
        <sort></sort>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-10">
        <div class="search-results" [class.list]="sort.list" [class.grid]="sort.grid">
          <div class="items">
            <div class="item" *ngFor="let i of dispItems">
              <item [desc]="i.description" [cat]="i.category" [id]="i.cat_id" [rating]="i.rating" [name]="i.name" [images]="i.images" [price]="i.price"
                [currency]="i.currency"></item>
            </div>
          </div>
        </div>
        <pagination></pagination>
      </div>
      <div class="col col-md-2 advertisement">
        <p>advertisement</p>
      </div>
    </div>
  </div>
  <div id="amzn-assoc-ad-200b2535-ded8-4e4e-b668-f50ab95303b5"></div>
  <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=200b2535-ded8-4e4e-b668-f50ab95303b5"></script>
</div>