<div class="product__reviews__module__content__single__container">
  <div class="product__reviews__module__content__single__container-results">Showing 1-2 of 300 reviews</div>
  <div class="product__reviews__module__content__single__container-sort">
    <span>Sort</span>
    <kendo-dropdownlist [data]="sortBy" [defaultItem]="defaultSort" [textField]="'value'"
      [valueField]="'id'"></kendo-dropdownlist>
  </div>
</div>

<article class="product__reviews__module__content__single__content">

  <div class="product__reviews__module__content__single__content__user">
    <div class="product__reviews__module__content__single__content__user-title">This is a test title</div>
    <div class="product__reviews__module__content__single__content__user-row">
      <!-- <bar-rating [rate]="4" [max]="5" readOnly="true" theme="fontawesome-o" class="product__reviews__module__content__single__content__user-left"></bar-rating> -->
      <div class="product__reviews__module__content__single__content__user-right">Apr 17, 2015</div>
    </div>
    <div class="product__reviews__module__content__single__content__user-row">
      <div class="product__reviews__module__content__single__content__user-left">
        <div class="product__reviews__module__content__single__content__user-left-title">
          Name of User
        </div>
      </div>
    </div>
  </div>
  <p class="product__reviews__module__content__single__content-text">
    Unfortunately it didn't work well for me. Definitely gave me the pre-workout tingles, which I love, but after 3
    days I was cramping and bloated. It stopped only when I stopped using this product. This was the only thing that
    was different in my diet/routine. I know everyone is different with their biological makeup, so it could work for
    others.
  </p>
  <div *ngIf="images" class="product__reviews__module__content__single__content__images"></div>
  <div class="product__reviews__module__content__single__content__meta">
    <a class="product__reviews__module__content__single__content__meta-left">see more</a>
    <div class="product__reviews__module__content__single__content__meta-right">
      <div #like class="product__reviews__module__content__single__content__meta-thumbs">
        <i class="fa fa-thumbs-up"></i> {{ likeCount }}
      </div>
      <i #report class="fa fa-flag"></i>
    </div>
  </div>

</article>