<ng-container *ngIf="history; else loading">
  <!-- <section class="price__history">
    <div class="price__history-title">
      <h3>Price History</h3>

      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="product__section-filters-btn dropdown-toggle"
          aria-controls="dropdown-basic" data-toggle="dropdown">
          Price History: {{this.timeFrame}} Days <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li (click)="onPriceHistoryChange(30)" role="menuitem"><a class="dropdown-item" href="#">30 Days</a></li>
          <li (click)="onPriceHistoryChange(90)" role="menuitem"><a class="dropdown-item" href="#">90 Days</a></li>
          <li (click)="onPriceHistoryChange(180)" role="menuitem"><a class="dropdown-item" href="#">180 Days</a></li>
          <li (click)="onPriceHistoryChange(365)" role="menuitem"><a class="dropdown-item" href="#">365 Days</a></li>
        </ul>
      </div>
    </div>
    <div class="price__history__chart">
      <div class="price__history__chart-x">
        <h3 class="price__history__chart-x-high">${{highestPrice}}</h3>
        <h3 class="price__history__chart-x-low">${{lowestPrice}}</h3>
      </div>
      <canvas 
        baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        legend="false"
        chartType="line">
      </canvas>
    </div>
  </section> -->

  <section class="price__history">
    <div class="price__history-title">
      <h3>{{timeFrame}} Day Insights</h3>

    </div>
    <div class="price__history__numbers">
      <div class="price__history__numbers-insight">
        <h3>Highest Price</h3>
        <h2>{{highestPrice}}</h2>
      </div>
      <div class="price__history__numbers-insight">
        <h3>Average Price</h3>
        <h2>{{averagePrice}}</h2>
      </div>
      <div class="price__history__numbers-insight">
        <h3>Best Price</h3>
        <h2>{{bestPrice}}</h2>
      </div>
      <div class="price__history__numbers-insight">
        <h3>Price Volatility</h3>
        <h2>{{priceVolatility}}%</h2>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #loading>

</ng-template>
