@import "../../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../../assets/css/abstracts/_variables.scss";

h3 {
  @include font-size(22px);
  font-family: 'AM', serif;
  padding: 32px 0;
  margin-bottom: 0px;

  @media screen and (max-width: $screen-xs) {
    @include font-size(18px);
    padding: 20px 0 10px;
  }
}

.product__section {
  &-loading {
    width: 16.5%;
    display: inline-block;
    padding: 0 10px;

    .skeleton-square {
      margin: 0 0 20px 0;
    }
  }

  @media screen and (max-width: $screen-md) {
    &-loading {
      width: 25%;

      &:nth-child(1n+5) {
        display: none;
      }
    }
  }

  @media screen and (max-width: $screen-sm) {
    &-loading {
      width: 33%;

      &:nth-child(1n+4) {
        display: none;
      }
    }
  }

  .skeleton-flex-column {
    margin: 0;
    flex: 0 1 calc(16%);
    padding: 0 1%;
    align-items: inherit;

    .skeleton-square {
      margin: 0 0 40px 0;
    }

    @media screen and (max-width: $screen-md) {
      flex: 0 1 calc(20%);
    }

    @media screen and (max-width: $screen-sm) {
      flex: 0 1 calc(33%);

      .skeleton-square {
        max-width: 100px;
        margin: 0 auto 20px;
      }
    }

    @media screen and (max-width: $screen-xs) {
      .skeleton-square {
        max-width: 60px;
      }
    }
  }
}
