<kendo-dialog class="create" title="Create a List" (close)="manage('close')">

  <div class="row">
    <div class="col col-md-4">
      <strong>This list is for</strong>
      <kendo-dropdownlist></kendo-dropdownlist>
    </div>
  </div>
  <div class="row">
    <strong>Choose a list type</strong>
    <div class="col col-md-4">
      <div class="type">
        <input type="radio" name="type"/>
        <h3>Shopping List</h3>
        <small>Add items you want to shop for.</small>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="type">
        <input type="radio" name="type"/>
        <h3>Wish List</h3>
        <small>Let people know what gifts you'd like.</small>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="type">
        <input type="radio" name="type"/>
        <h3>Idea List</h3>
        <small>Make a list for the Grceri Community</small>
      </div>
    </div>
  </div>

</kendo-dialog>
