@import "../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../assets/css/abstracts/_variables.scss";

.lists {
  margin-bottom: 30px;
  display: block;

  @media screen and (max-width: $screen-sm) {
    display: none;
  }

  &__card {
    display: block;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    position: relative;

    &__header {
      @include font-size(18px);
      margin: 12px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title {
        @include font-size(20px);
        font-family: 'AB', sans-serif;
        text-transform: capitalize;
        font-weight: 400;
        margin: 0;
        max-width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:visited,
        &:active {
          color: #555;
        }

        &:hover {
          color: $green;
        }
      }

      &-count {
        font-size: 80%;
        font-weight: lighter;
        margin-top: 2px;
      }

      &-dropdown {
        position: relative;
        display: flex;
        padding: 5px;

        &:hover {
          @include border-radius(100%);
          background: #fafafa;
        }

        &-img {
          @include transform(rotate(90deg));
          width: 15px;
          cursor: pointer;
        }

        .dropdown-menu {
          @include border-radius(2px);
          @include box-shadow(0 2px 6px 0px rgba(60, 64, 67, 0.302));
          padding: 11px 0 0 0;
          border: none;

          h4 {
            @include font-size(16px);
            padding: 0 12px;
            margin: 0;
          }

          ul {
            max-height: 200px;
            overflow-y: scroll;
            margin: 6px 0;

            li {
              padding: 5px 12px;

              label {
                @include font-size(15px);
                cursor: pointer;
                display: flex;
                align-items: center;
                font-family: 'AL', sans-serif;
                font-weight: 400;
                padding: 0px;
              }

              input {
                margin: 0 8px 0 0;
              }

              &:hover {
                background: #fafafa;
              }
            }
          }
        }

        &-search {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin: 0 15px 0 0;

          input {
            @include font-size(15px);
            color: #3c4043;
            padding: 8px 12px;
            border: none;
          }

          img {
            @include opacity(.7);
            width: 11px;
          }
        }
      }
    }

    &-labels {
      margin-top: 15px;
      display: flex;

      li {
        @include font-size(15px);
        @include border-radius(20px);
        padding: 5px 15px;
        text-transform: lowercase;
        background: #eee;
        margin-right: 20px;
        word-break: break-all;
      }
    }

    &__container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 10px;

      &-img {
        width: 100%;
      }

      &-thumbnails {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;

        img {
          width: 100%;
        }
      }
    }
  }

  &__mobile {
    display: none;

    @media screen and (max-width: $screen-sm) {
      margin-bottom: 15px;
      display: block;
    }

    &-date {
      margin-bottom: 10px;
    }

    &__card {
      padding: 10px;
      border: 1px solid #e1e5eb;
      border-bottom: none;
      display: block;

      &-discover {
        border-bottom: 1px solid #e1e5eb;
      }

      &__header {
        &-title {
          @include font-size(20px);
          font-family: 'AB', sans-serif;
          margin: 0px;
        }

        &-count {
          @include font-size(18px);
          color: #333;
          font-family: 'AL', sans-serif;
        }
      }

      &__thumbnails {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;

        &-img {
          width: 40px;
          margin: 0 5px;
        }

        &-more {
          @include font-size(13px);
          margin-left: auto;
          padding-left: 10px;
          color: #333;
          max-width: 60px;
        }
      }
    }

    &__options {
      border: 1px solid #e1e5eb;
      background: #f8f8f8;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &-last {
        border-left: 1px solid #e1e5eb;
      }

      >* {
        @include font-size(16px);
        color: #666;
        padding: 13px;
        width: 50%;
        text-align: center;
      }
    }

    &-labels {
      margin: 10px 0 20px;
      display: flex;

      li {
        @include font-size(14px);
        @include border-radius(20px);
        padding: 3px 12px;
        background: #eee;
        margin-right: 15px;
        color: #555;
      }
    }
  }
}
