category {
	.sidebar {
    padding: 20px 0 0 0;

    section {
      margin: 0 0 20px;
      padding-right: 20px;

      h4 {
        @include font-size(15px);
        font-family: 'AM', sans-serif;
        user-select: none;
        letter-spacing: 1px;
        cursor: pointer;
        margin: 0 0 20px 0;
        text-transform: uppercase;

        i {
          float: right;
          color: #333;
        }
      }


      &:not(:first-child) {
        border-top: 1px solid #f3f3f3;
        padding-top: 20px;
      }

      ol {

        &.overflow {
          height: 300px;
          overflow-y: scroll;
        }

        li {
          margin-bottom: 10px;

          input {
            cursor: pointer;
            margin-top: 0px;
            position: relative;
            top: 2px;
            margin-right: 5px;
          }

          span {
						@include font-size(14px);
						margin-left: 2px;
            color: #1d252c;

            .count {
              @include font-size(11px);
            }
          }
        }
      }

      brand {
        position: relative;

        .tt-input {
          margin-bottom: 20px;
        }

        .tt-hint {
          position: absolute;
          top: -9px;
          z-index: -1;
          border-color: transparent;
          box-shadow: none;
          opacity: 1;
          background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
        }

        .dropdown {
          z-index: 2;
          position: absolute;
          top: 27px;
          min-height: 25px;
          background: white;
          width: 100%;
          border: 1px solid lightgrey;

          li {
            cursor: pointer;
            padding: 4px 10px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 0px;

            &:last-child {
              border: none;
            }

            &:hover {
              background:#fafafa;
            }
          }
        }
      }

      price {
        form {

          span {
            @include font-size(14px);
            display: inline-block;
            vertical-align: middle;
          }

          input {
            @include font-size(12px);
            display: inline-block;
            margin: 0px 2%;
            width: 28%;

            &:first-child {
              margin-left: 0px;
            }
          }

          .btn {
            width: 22%;
            display: inline-block;
            padding: 4.4px 0;
            line-height: inherit;
            margin-left: 2%;
          }
        }
      }

      rating {
        .fa-star {
          color: #333;
        }

        .fa-star-o {
          color: lightgray;
        }
      }

      .tt-input {
        background: transparent;
      }

    }
  }
}