category {
	.content {
		.filters {
      @include font-size(14px);
      padding: 0 0 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #f3f3f3;

      .count {
        padding-left: 20px;
      }

      .filter {
        text-align: right;

        .sort {

          kendo-dropdownlist {

            span {
              background: #fff;
              border: none;
              font-weight: 400;
              color: #444;

              &.k-icon {
                font-family: 'FontAwesome', sans-serif;

                &:before {
                  content: '';
                }
              }
            }
          }

          >span {
            font-weight: 500;
            border-right: 1px solid #f3f3f3;
            margin-right: 10px;
            padding-right: 10px;
            vertical-align: middle;
          }
        }

        .view {
          width: 70px;

          .filter-group {

            img {
              @include opacity(.5);
              display: inline-block;
              margin-left: 15px;
              width: 17px;
              vertical-align: middle;
              cursor: pointer;

              &.active,
              &:hover {
                @include opacity(1);
              }
            }
          }
        }
      }
    }
	}
}
