<ng-container *ngIf="userSubscription && userSubscription['plan'] !== 'free'">
  <ng-container *ngIf="userSubscription['planStatus'] !== 'canceled'; else timer">
    <p>
      {{ userSubscription['planDescription'] }}
      <a href="#" (click)="confirmCancelSubscription($event)">Cancel Subscription</a>
    </p>
  </ng-container>

  <ng-template #timer>
    <ng-container *ngIf="days || hours || minutes || seconds">
      <ng-container *ngIf="days || hours; else minutes">
        <p>Subscription will cancel in - {{days}} days and {{hours}} hours.</p>
      </ng-container>
      <ng-template #minutes>
        <p>Subscription will cancel in - {{minutes}} minutes and {{seconds}} seconds.</p>
      </ng-template>
    </ng-container>
  </ng-template>
</ng-container>
