@import "../../../../../../../../assets/css/abstracts/_mixins.scss";

p {
  @include font-size(16px);
  margin-bottom: 20px;

  a {
    @include opacity(.8);
    text-decoration: underline;
    float: right;

    &:hover {
      @include opacity(1);
    }
  }
}
