<!-- <ol class="price-list" [class.overflow]="prices.length > 8"> -->
<!-- <ol class="price-list">
  <li *ngFor="let price of prices, let i = index;">
    <input type="checkbox" [name]="[i]" (click)="changeFilterStatus(filter)">
    <span class="count">({{ pricefunction(i) }})</span>
    <span class="count">({{ price.length }})</span>
  </li>
</ol> -->

<form [formGroup]="priceForm" class="range form-group">
    <input min="0" type="number" formControlName="from" placeholder="min" />
    <span>to</span>
    <input min="1" type="number" [max]="['max']" formControlName="to" placeholder="max" />
    <button type="submit" class="btn" [disabled]="!submit" (click)="onSubmit()">
      <i class="fa fa-angle-right"></i>
    </button>
  </form>
  <ol class="price-list">
    <li *ngFor="let price of dispFilters; let i = index;">
      <input type="checkbox" name="price-filter" [checked]="filterActive(price)" (click)="changeFilterStatus($event, price)">
      <span>${{ price.from }} - {{ price.to ? "$" + price.to : "and Up "}} <span class="count">({{ price.num }})</span></span>
    </li>
  </ol>