<div class="card-header">
  <h2>Usage <button class="btn btn-primary small" [disabled]="isPlanEditDisabled()" (click)="editPlan()">Edit Plan</button></h2>
</div>
<div class="card-body">
  <ng-container *ngIf="userSubscription">
    <settings-subscription-cancel [subscription]="userSubscription"></settings-subscription-cancel>
  </ng-container>
  <div class="row hidden-xs">
    <div class="col col-sm-6">
      <div>History</div>
      <div>Watchlists</div>
      <div>Product Lists</div>
    </div>
    <div class="col col-sm-6 text-right" *ngIf="planLimit">
      <progressbar [type]="setUsageClass('history')" [value]="setUsagePercentage('history')"></progressbar>
      <progressbar [type]="setUsageClass('watchlists')" [value]="setUsagePercentage('watchlists')"></progressbar>
      <progressbar [type]="setUsageClass('shoppingLists')" [value]="setUsagePercentage('shoppingLists')"></progressbar>
    </div>
  </div>
  <div class="visible-xs" *ngIf="planLimit">
    <div>
      History
      <progressbar [type]="setUsageClass('history')" [value]="setUsagePercentage('history')"></progressbar>
    </div>
    <div>
      Watchlists
      <progressbar [type]="setUsageClass('watchlists')" [value]="setUsagePercentage('watchlists')"></progressbar>
    </div>
    <div>
      Product Lists
      <progressbar [type]="setUsageClass('shoppingLists')" [value]="setUsagePercentage('shoppingLists')"></progressbar>
    </div>
  </div>
</div>

<plan-list (activePlan)="updatePlan($event)"></plan-list>
