<div class="mobile__header">
  <h1>{{ listService.single['title'] }}</h1>
  <div class="mobile__header-dropdown" dropdown>
    <a dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
      <img alt="dots" src="assets/svg/dots.svg" />
    </a>
    <ul *dropdownMenu class="mobile__header-dropdown-menu dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation" *ngIf="listService.single['visibility'] !== null || listService.single['visibility'] !== 'private'">
        <a (click)="$event.preventDefault();listService.shareMobileList()" role="menuitem" tabindex="-1">Share List</a>
      </li>
      <li role="presentation">
        <a (click)="$event.preventDefault();listService.followList()"
        [class.isDisabled]="listService.followingLists === undefined"
        role="menuitem"
        tabindex="-1">{{listService.followListTitle ? 'Follow List' : 'Unfollow List'}}</a>
      </li>
      <li role="presentation" *ngIf="listService.single['list'].length">
        <a (click)="$event.preventDefault();listService.exportList()" role="menuitem" tabindex="-1">Export List</a>
      </li>
    </ul>
  </div>
</div>
<div class="mobile__content-details mobile__content-public">
  <div class="mobile__meta-public" *ngIf="listService.single">
    <div class="mobile__meta-followers">
      {{ listService.single['followersCount'] !== null ? listService.single['followersCount'] : 0 }} Followers
    </div>
    <div class="mobile__meta-updated">
      <time [dateTime]="listService.single['updatedAt']">
        Last Updated {{ listService.single['updatedAt'] | date: 'short' }}
      </time>
    </div>
  </div>
  <div *ngIf="listService.single['description']" class="mobile__meta-desc">
    {{ listService.single['description'] }}
  </div>
  <div class="mobile__content-container">
    <ul class="mobile__content__list" *ngIf="listService.single['list'].length || listService.checked.length; else empty">
      <li class="item" *ngFor="let list of listService.single['list']">
        <a [routerLink]="['/grocery/', commonService.product(list.title), list.productId]">
          <strong class="mobile__content__list__text-title">{{ list.title }}</strong>
          <div class="mobile__content__list__text-details">
            <span>${{ list.vendorPrice | number : '1.2' }}</span> {{ list.brand }} - {{ list.vendor }}
          </div>
        </a>
        <img [defaultImage]="load" [lazyLoad]="list.productImages.sizes.mobile" [alt]="list.title" />
      </li>
    </ul>
    <ng-template #empty>
      <div class="mobile__empty">
        <div class="mobile__empty-ball">
          <i class="fa fa-list-ol"></i>
          <h3>There are no items yet.</h3>
        </div>
      </div>
    </ng-template>
  </div>
</div>
