<div class="list__meta">
  <div class="list__meta-followers">
    {{ listService.single['followersCount'] !== null ? listService.single['followersCount'] : 0 }} Followers
  </div>
  <div class="list__meta-updated">
    <time [dateTime]="listService.single['updatedAt']">
      Last Updated {{ listService.single['updatedAt'] | date: 'short' }}
    </time>
  </div>
</div>
<div class="list__header">
  <h1 class="list__header-title">{{ listService.single['title'] }}</h1>
  <div class="dropdown-sort" dropdown>
    <a dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
      List Options
      <i class="fa fa-angle-down"></i>
    </a>
    <ul *dropdownMenu role="menu" aria-labelledby="menu1">
      <li role="presentation" *ngIf="listService.single['visibility'] !== null || listService.single['visibility'] !== 'private'">
        <a (click)="$event.preventDefault();listService.shareList()" role="menuitem" tabindex="-1">Share List</a>
      </li>
      <li role="presentation">
        <a (click)="$event.preventDefault();listService.followList()" [class.isDisabled]="listService.followingLists === undefined" role="menuitem" tabindex="-1">{{listService.followListTitle ? 'Follow List' : 'Unfollow List'}}</a>
      </li>
      <li role="presentation" *ngIf="listService.single['list'].length">
        <a (click)="$event.preventDefault();listService.exportList()" role="menuitem" tabindex="-1">Export List</a>
      </li>
    </ul>
  </div>
</div>
<div class="list__body">
  <div class="row">
    <div class="col col-md-8">
      <div *ngIf="listService.single['description']" class="list__body-desc">
        {{ listService.single['description'] }}
      </div>
      <ul class="list__body__items"*ngIf="listService.single['list'].length; else empty">
        <li class="item" *ngFor="let list of listService.single['list']">
          <a [routerLink]="['/grocery/', commonService.product(list.title), list.productId]">
            <strong class="list__body__items__text-title">{{ list.title }}</strong>
            <div class="list__body__items__text-details">
              <span>${{ list.vendorPrice | number : '1.2' }}</span> {{ list.brand }} - {{ list.vendor }}
            </div>
          </a>
          <img [defaultImage]="load" [lazyLoad]="list.productImages.sizes.mobile" [alt]="list.title" />
        </li>
      </ul>
      <ng-template #empty>
        <div class="list__empty">
          <div class="list__empty-ball">
            <i class="fa fa-list-ol"></i>
            <h3>There are no items yet.</h3>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col col-md-4">
      <div *ngIf="!DS.isMobile" class="box-advertisement">
        <ng-adsense [adClient]="'ca-pub-3783664105032363'" [adFormat]="'auto'" [adSlot]="7797307814">
        </ng-adsense>
      </div>
    </div>
  </div>
</div>
