<form [formGroup]="forgot">
  <div class="forgot-content">

      <a [routerLink]="'/'"><img class="logo" src="/assets/svg/cart.svg" /></a>
      
      <div class="header-content">
        <h1>Forgot Password</h1>
      </div>

    <div class="content">
        <div *ngIf="res" class="feedback-block success">{{res}}</div>

        <div class="form-group">
          <label for="email">Email</label>
          <input #email type="email" class="form-control" name="email" formControlName="email" />
        </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!forgot.valid" class="btn btn-primary" (click)="click(forgot.controls.email.value);">
        <span [class.hidden]="submit == true">Send Me Instructions</span>
        <span [class.hidden]="submit != true" class="spinner">
          <img src="/assets/svg/three-dots.svg" width="35" alt="" />
        </span>
      </button>
    </div>
  </div>
</form>