<ng-container *ngFor="let i of message">
  <alert *ngIf="i" [type]="setAlertType(i.type)" (onClosed)="close(i)" [dismissOnTimeout]="8000" [dismissible]="true">
    {{ i.value }} <a *ngIf="i.listId !== 0" (click)="undoAddListItem(i.listId, i.linkTitle)">Undo</a>
    <a *ngIf="i.type === 'undo-following'" (click)="undoAddFollowList($event)">Unfollow list</a>
  </alert>
</ng-container>

<div class="container">
  <div class="hidden-xs visible-sm visible-md visible-lg">
    <ng-container *ngIf="listService.single['isOwner'] && listService.single['isOwner'] !== null; else dpublic">
      <ng-container *ngIf="listService.loading; else dloaded">
        <div class="skeleton-margin-bottom-40"></div>
        <div class="row">
          <div class="col col-md-3 col-sm-3">
            <div class="skeleton-bar skeleton-margin-bottom-20"></div>
          </div>
          <div class="col col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-6">
            <div class="skeleton-bar"></div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-6">
            <div class="skeleton-bar-40"></div>
          </div>
          <div class="col col-md-2 col-md-offset-4">
            <div class="skeleton-bar-40"></div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #dloaded>
        <private-list></private-list>
      </ng-template>
    </ng-container>
    <ng-template #dpublic>
      <ng-container *ngIf="listService.loading; else dloaded">
        <div class="skeleton-margin-bottom-40"></div>
        <div class="row">
          <div class="col col-md-3 col-sm-3">
            <div class="skeleton-bar skeleton-margin-bottom-20"></div>
          </div>
          <div class="col col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-6">
            <div class="skeleton-bar"></div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-6">
            <div class="skeleton-bar-40"></div>
          </div>
          <div class="col col-md-2 col-md-offset-4">
            <div class="skeleton-bar-40"></div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row skeleton-margin-bottom-60">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-8">
                  <div class="skeleton-bar-20 skeleton-margin-bottom-20"></div>
                  <div class="skeleton-bar-20 col col-md-5"></div>
              </div>
              <div class="col col-md-2 col-md-offset-2">
                <div class="skeleton-bar-60"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #dloaded>
        <public-list></public-list>
      </ng-template>
    </ng-template>
    <div *ngIf="!DS.isMobile" class="horizontal-advertisement">
      <ng-adsense [adClient]="'ca-pub-3783664105032363'" [adFormat]="'auto'" [adSlot]="3858062809">
      </ng-adsense>
    </div>
  </div>

  <div class="visible-xs hidden-sm hidden-md hidden-lg">
    <ng-container *ngIf="listService.single['isOwner'] && listService.single['isOwner'] !== null; else mpublic">
      <ng-container *ngIf="listService.loading; else mloaded">
        <div class="mobile__header">
          <div class="col col-sm-7 col-xs-7 skeleton-bar-20"></div>
        </div>
        <div class="container">
          <div class="skeleton-margin-bottom-20"></div>
          <div class="row skeleton-margin-bottom-40">
            <div class="col col-sm-4 col-xs-4">
              <div class="skeleton-bar"></div>
            </div>
            <div class="col col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
              <div class="skeleton-bar"></div>
            </div>
          </div>
          <div class="row skeleton-margin-bottom-20">
            <div class="skeleton-bar col col-sm-4 col-xs-4 col-sm-offset-4 col-xs-offset-4"></div>
          </div>
          <div class="row skeleton-margin-bottom-40">
            <div class="col col-sm-6 col-xs-6">
              <div class="skeleton-box">
                <div class="skeleton-square skeleton-margin-bottom"></div>
                <div class="skeleton-bar-20"></div>
              </div>
            </div>
            <div class="col col-sm-6 col-xs-6">
              <div class="skeleton-box">
                <div class="skeleton-square skeleton-margin-bottom"></div>
                <div class="skeleton-bar-20"></div>
              </div>
            </div>
          </div>
          <div class="row skeleton-margin-bottom-20">
            <div class="skeleton-bar col col-sm-4 col-xs-4 col-sm-offset-4 col-xs-offset-4"></div>
          </div>
          <div class="row">
            <div class="col col-sm-6 col-xs-6">
              <div class="skeleton-box">
                <div class="skeleton-square skeleton-margin-bottom"></div>
                <div class="skeleton-bar-20"></div>
              </div>
            </div>
            <div class="col col-sm-6 col-xs-6">
              <div class="skeleton-box">
                <div class="skeleton-square skeleton-margin-bottom"></div>
                <div class="skeleton-bar-20"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #mloaded>
        <mobile-private-list></mobile-private-list>
      </ng-template>
    </ng-container>
    <ng-template #mpublic>
      <ng-container *ngIf="listService.loading; else mloaded">
        <div class="mobile__header">
          <div class="col col-sm-7 col-xs-7 skeleton-bar-20"></div>
        </div>
        <div class="container">
          <div class="skeleton-margin-bottom-20"></div>
          <div class="row skeleton-margin-bottom-40">
            <div class="col col-sm-4 col-xs-4">
              <div class="skeleton-bar"></div>
            </div>
            <div class="col col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
              <div class="skeleton-bar"></div>
            </div>
          </div>
          <ng-container *ngFor="let i of nitems">
            <div class="row skeleton-margin-bottom-40">
              <div class="col col-sm-8 col-xs-8">
                <div class="skeleton-bar skeleton-margin-bottom-20"></div>
                <div class="skeleton-bar"></div>
              </div>
              <div class="col col-sm-3 col-sm-offset-1 col-xs-3 col-xs-offset-1">
                <div class="skeleton-bar-40"></div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #mloaded>
        <mobile-public-list></mobile-public-list>
      </ng-template>
    </ng-template>
  </div>
</div>
