cart {
  padding: 0 0 100px 0;
  display: block;

  .empty {
    margin: 100px 0 0;
    height: calc(50vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;

    .cart {

      img {
        width: 150px;
        margin: 0 auto 40px;
        display: block;
      }

      h2 {
        text-align: center;
        @include font-size(24px);
        font-weight: 500;
      }

      p {
        text-align: center;
        margin-bottom: 40px;
      }

      .btn {
        @include font-size(15px);
        font-family: 'AL', serif;
        width: fit-content;
        margin: 0px auto;
        color:#fff;
        line-height: 35px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: table;
      }      
    }
  }

  .cart {
    margin: 0;

  .listing-header {

    &__body {
      margin-bottom: 30px;
      &-titles {
        h1 {
          font-family: 'B', serif;
          margin: 0 0 5px 0;
        }

        h3 {
          @include font-size(16px);
          color:#666;
          margin: 0;
        }
      }
      &-btns {
        margin-top: 24px;

        .btn {
          @include font-size(14px);
          width: 18%;
          margin: 0 1%;
          float: right;
          line-height: 36px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-family: 'AM', sans-serif;

          &:first-child {
            margin-right: 0px;
          }
        }        
      }

    }

    &__items-heading {
      @include font-size(14px);
      text-transform: uppercase;
      padding-bottom: 5px;
      color: #55555a;
      letter-spacing: 1px;
      border-bottom: 1px solid #eee;
    }

    &__first-item {
      padding-left: 10px;
    }

    &__quantity-column {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__listing-items {
    padding-bottom: 45px;
  }

   &-item {
      border-bottom: 1px solid #eee;
      padding: 35px 0;

      &__details {
        padding-left: 120px;
        position: relative;
        padding-left: 120px;
        min-height: 90px;
      }

      &__image-wrapper {
        left: 10px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;

        &__image {
          display: block;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }

      &__title {
        @include font-size(17px);
        font-family: 'B', serif;
        letter-spacing: 1px;
        margin-bottom: 13px;
        display: inline-block;
        line-height: normal;
        color: #333;
      }

      &__quantity-block {
        padding: 0 10px 0;
  
        &-dropdown {
          width: 100px;
          margin-bottom: 10px;
          .k-dropdown-wrap {
            @include font-size(15px);
            @include border-radius(4px);
            background:#fff;
            color: #1d252c;
            border: 1px solid #eee;
            padding: 3px 0 4px 12px;            
          }
        }

        &__remove {
          margin-bottom: 5px;
        }
  
        &__remove, 
        &__save {
          @include font-size(14px);
            display: block;
            white-space: nowrap;

            &:hover {
              text-decoration: underline;
            }
        }
      }
  
      &__price-block {
        &-price {
          @include font-size(20px);
          font-weight: 500;
        }
        &-each {
          @include font-size(15px);
          color: #1d252c;
          margin-top: 3px;
        }

        &__savings {

          &-discount {
            @include font-size(16px);
            margin: 5px 0 1px;
            font-weight: 500;
          }
          &-saved {
            display: inline-block;
            padding: 2px 5px 4px;
            font-weight: 500;
            background-color: #bb0628;
            color: #fff;
            height: auto;
            width: auto;
          }

          &-highest,
          &-saved {
            @include font-size(14px);
            margin-top: 2px;
            line-height: 13px;
          }
        }
      }
    }  
  }
  
  .viewed {
    margin-top: 40px;

    &__tabs {
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;

      a {
        margin-right: 40px;
        color:#999;

        &:hover, &.active {
          color:#222;
        }
      }
    }

    &__results {
      &__result {
        border-bottom: 1px solid #eee;
        padding: 35px 0;

        &__details {
          padding-left: 120px;
          position: relative;
          padding-left: 120px;
          min-height: 90px;

          &__image-wrapper {
            left: 10px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
            height: 100px;
    
            &-image {
              display: block;
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 100%;
            }
          }
    
          &-title {
            @include font-size(16px);
            font-family: 'AL', serif;
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 13px;
            display: inline-block;
            line-height: normal;
          }
        }

        &__price-block {
          &-price {
            @include font-size(18px);
            font-weight: 500;
            margin-bottom: 10px;
          }

          &-btn {
            @include font-size(12px);
            font-family: 'AM', serif;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 4px 8px;
            line-height: 20px;
            width: 100px;
          }
        }

        &-none {
          padding: 20px 0;
        }

        &:last-child {
          border: none;
        }

        &-login {
          padding-top: 30px;
        }
      }
    }
  }

  .listing-footer {
    margin-top: 40px;

    &__order-summary {
      background-color: #fff;
      border: 1px solid #eee;
      padding: 15px;

      &__pricing {
        &__savings {
          @include font-size(15px);
          margin-bottom: 10px;

          &-description {
            font-family: 'B', sans-serif;
            float: left;
          }

          &-value {
            float: right;
          }
        }

        &__total {
          @include font-size(20px);
          font-weight: 500;
          
          &-description {
            font-family: 'B', sans-serif;
            float: left;
          }

          &-value {
            float: right;
          }
        }
      }
    }

    &__button {
      margin-top: 20px;

      .btn {
        @include font-size(18px);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'AB', sans-serif;
      }
    }
  }

  .recommendations {
    h2 {
        @include font-size(24px);
        font-family: 'B', serif;
        line-height: 1.1;
        letter-spacing: 0.2px;
        padding-top: 63px;
        margin: 0 0 30px;
    }
  }
}