

user {
	border-top: 1px solid #eee;
	display: block;

	section {

		header {

			h1 {
				display:block;
				margin: 48px 0;
			}
		}
	}

}

.dashboard {
	margin-bottom: 200px;

	&__header {
		margin: 48px 0;

		&-title {
			display:block;
			margin: 0px;
			line-height: 1.6em;
			letter-spacing: -0.03em;
		}

		&-text {
			max-width: 635px;
			font-size: 15px;
			line-height: 24px;
			margin-bottom: 12px;
		}
	}

	&__sections {
		border-bottom: 1px solid #ddd;

		&__section {
			@include font-size(15px);
			font-weight: 500;
			display: inline-block;
			padding: 15px 0;
			color:#777;
			border-bottom: 1px solid transparent;
			position: relative;
			top: 1px;

			&:first-of-type {
				margin-right: 30px;
			}

			&.active {
				color:#333;
				border-bottom-color: #333;
			}
		}
	}

	&__content {
		margin: 40px 0;

		&-title {
			@include font-size(21px);
			font-style: italic;
			font-weight: 500;
			margin: 0 0 40px 0;
		}

		&-subtitle {
			@include font-size(14px);
			font-weight: 500;
			margin: 0 0 10px 0;
		}

		&__select {
			margin-bottom: 40px;
		}

		&__total {
			&-item {
				@include font-size(15px);
				margin-bottom: 10px;
			}
		}

		&__types {
			margin-bottom: 25px;

			&-type {
				@include font-size(13px);
				font-weight: 500;
				display: inline-block;
				padding: 15px 0;
				color:#777;
				border-bottom: 1px solid transparent;
				position: relative;
				top: 1px;
	
				&:first-of-type {
					margin-right: 30px;
				}
	
				&.active {
					color:#333;
					border-bottom-color: #333;
				}
			}
		}

		&__calories, 
		&__nutrition {
			display: none;

			&.active {
				display: block;
			}
		}
	}
}
