<div class="arrange">
  <div class="arrange_unit middle sort">
    <span>Sort by </span>
    <kendo-dropdownlist [data]="sortList" [defaultItem]="defaultSort" [textField]="'text'" [valueField]="'value'"></kendo-dropdownlist>
  </div>
  <div class="arrange_unit middle view">

    <div class="filter-group">
      <img alt="Grid Product Layout" [class.active]="grid" (click)="switch(1)" src="./assets/svg/grid.svg" />
      <img alt="List Product Layout" [class.active]="list" (click)="switch(2)" src="./assets/svg/list.svg" />
    </div>
  </div>
</div>