// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//  BEM - Block Element Modifier
//  This is how our code is structured. Please follow this layout and format.
//  More Info: https://css-tricks.com/bem-101/
//
//  .steps {
//	    &__item {		
//		    &--first {}
//		    &--last {}
//		    &--active {}
//		    &--done {}
//	    }
//	    &__link {}
//  }

@import "../../../assets/css/abstracts/_mixins.scss";
@import "../../../assets/css/abstracts/_variables.scss";

:host {
  min-height: 500px;

  @media screen and (max-width: $screen-sm) {
    @include animation(slide-in-bottom .6s);
  }

  .cat {
    padding: 15px 0;
    background: #fafafa;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }

  .content {
    min-height: 1800px;
    border-left: 1px solid #f3f3f3;
    padding-top: 10px;
    padding-left: 0px;

    @media (max-width: $screen-sm) {
      padding: 0px;
      border: none;

      &.mobile-loaded-margin {
        padding-top: 52px;
      }
    }

    @media (max-width: $screen-xs) {
      min-height: inherit;
    }

    .search-results {
      display: flex;

      &__items {
        min-height: 500px;
        width: 100%;

        @media (min-width: $screen-md) {
          padding-left: 20px;
        }

        &-item {
          display: inline-flex;
          margin-bottom: 20px;
          width: 20%;
          border-bottom: 1px solid #f3f3f3;
          padding: 0 8px 16px 8px;

          @media (max-width: $screen-lg) {
            width: 25%;
          }

          @media (max-width: $screen-md) {
            width: 33.33%;
          }

          @media (max-width: $screen-sm) {
            margin-bottom: 0px;
          }

          @media (max-width: $screen-xs) {
            border-bottom: none;
          }
        }

        .skeleton-box {
          width: 20%;
          display: inline-table;
          padding: 0px 8px 16px 8px;

          @media (max-width: $screen-lg) {
            width: 25%;
          }

          @media (max-width: $screen-md) {
            width: 33.33%;
          }

          @media (max-width: $screen-sm) {
            margin-bottom: 0px;
          }

          @media (max-width: $screen-xs) {
            border-bottom: none;
          }

          .skeleton-square {
            margin: 20px auto;

            @media (min-width: $screen-md) {
              height: 200px;
            }
          }
        }
      }

      &__none {
        min-height: 1000px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        @media (max-width: $screen-xs) {
          min-height: 60vh;

          h4 {
            @include font-size(20px);
          }

          span {
            @include font-size(16px);
            display: block;
            padding: 0 40px;
          }
        }

        &-item {
          text-align: center;

          img {
            height: 50px;
          }

          h4 {
            margin: 40px 0 5px;
          }

          span {
            font-family: 'AL', serif;
            color: #777;
          }
        }
      }
    }

    .filters {
      @include font-size(14px);
      padding: 0 0 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #f3f3f3;

      .count {
        padding-left: 20px;

        @media (max-width: $screen-sm) {
          padding: 0px;
        }
      }

      .filter {
        text-align: right;
      }
    }

    .advertisement {
      margin: 32px 0;
      padding: 0 25px;
    }
  }

  .sidebar {
    padding-left: 0px;
  }

  .mobile-filter {
    position: relative;
    @include transition(0.5s);

    .mobile-sidebar {
      @include border-radius(12px 12px 0 0);
      display: none;
      position: fixed;
      top: 50%;
      right: 0;
      overflow-y: scroll;
      height: 50%;
      background: #fff;
      left: 0;

      .mobile-title {
        @include border-radius(12px 12px 0 0);
        @include font-size(18px);
        padding: 23px 20px 10px;
        background: #fafafa;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        align-items: center;
        border-bottom: 1px solid #ddd;
        position: fixed;
        left: 0;
        right: 0;

        &:before {
          @include border-radius(5px);
          border-top: 1px solid #ccc;
          position: absolute;
          content: '';
          width: 30px;
          height: 4px;
          background: #eee;
          top: 5px;
          left: 50%;
          margin-left: -15px;
        }

        .mobile-buttons {
          align-items: center;
          display: flex;
          justify-content: space-between;

          button {
            font-family: "AL", sans-serif;
            font-weight: 400;
            text-transform: uppercase;

            &:first-child {
              border: none;
              background: transparent;
            }
          }

          .btn {
            height: 30px;
            margin-left: 20px;
            line-height: inherit;
          }
        }
      }
    }

    &.visible {
      z-index: 2;

      .mobile-sidebar {
        @include animation(slide-in-bottom ease-in 0.3s);
        display: block;
      }

      .fa-filter {
        display: none;
      }
    }

    &.not-visible {
      z-index: 2;
      @include transition(all 3s);

      .mobile-sidebar {
        @include transform(translateY(100%));
        @include transition(all .3s);
        display: block;
      }

      .fa-filter {
        display: block;
      }
    }
  }

  .mobile-bg {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mobile-search {
    padding-top: 20px;
  }

  .mobile-applied__filters {
    padding: 10px 0 0;
    border-bottom: 1px solid #eee;

    &-filter {
      @include box-shadow(0 0px 2px 0 rgba(57, 73, 76, 0.35));
      @include border-radius(3px);
      padding: 5px 10px;
      display: inline-block;
      margin: 0 0 10px 10px;
      background: $green;
      color: #fff;

      img {
        filter: invert(1);
        margin-left: 10px;
      }
    }
  }

  @media (max-width: $screen-xs) {
    display: block;
  }
}
