<section class="lists">
  <div class="container">
    <div class="lists__header">
      <h1 class="lists__header-title">Lists</h1>
      <button class="lists__header-btn">Create List</button>
    </div>
    <div class="row">
      <div class="col col-md-2">
        <div class="lists__item">
          <div class="lists__item-title">
            <a>Name</a>
          </div>
          <div class="lists__item-type">Private</div>
        </div>
      </div>
      <div class="col col-md-10">
        <div class="lists__header">
          <div class="lists__header__title">
            <div class="lists__header__title-name">
              Shopping List <span>Private</span>
            </div>
            <div class="lists__header__title__edit">
              <span class="lists__header__title__edit-share">
                <i class="fa fa-share-alt"></i> Share
              </span>
              <span class="lists__header__title__edit-manage">
                <i class="fa fa-ellipsis-h"></i> Manage
              </span>
            </div>
          </div>
          <div class="lists__header__users">
            <ng-container>
              <div class="lists__header__users-user">
                example@example.com
              </div>
            </ng-container>
            <div class="lists__header__users-invite">
              <i class="fa fa-plus"></i>
              <span>Invite</span>
            </div>
          </div>
          <div class="lists__header__filter">
            <div class="lists__header__filter-search">
              <input class="" placeholder="Search this list" />
              <i class="fa fa-search"></i>
            </div>
            <div class="lists__header__filter-sort">
              <kendo-dropdownlist></kendo-dropdownlist>
            </div>
            <div class="lists__header__filter-filter">
              <kendo-dropdownlist></kendo-dropdownlist>
            </div>
          </div>
        </div>
        <div class="lists__list">
            <div class="lists__list-image">
              <img />
            </div>
            <div class="lists__list__description">
              <a class="lists__list__description-title">title</a>
              <div class="lists__list__description__meta">
                <div class="lists__list__description__meta-brand"></div>
                <div class="lists__list__description__meta-category"></div>
              </div>
              <div class="lists__list__description-rating"></div>
            </div>
            <div class="lists__list__add">
              <div class="lists__list__add-date"></div>
              <div class="lists__list__add__options">
                <a class="lists__list__add__options-add">Add to Cart</a>
                <div class="lists__list__add__options__change">
                  <kendo-dropdownlist></kendo-dropdownlist>
                  <a class="lists__list__add__options__change-delete">Delete</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<lists-create *ngIf="COpened" (open)="filter($event)"></lists-create>
