<div class="visible-xs">
  <div class="header__mobile">
    <h1>{{ name }}</h1>

    <span>
      <i class="fa fa-filter header__mobile-filter" aria-hidden="true" (click)="MS.openFilterListsModal(config)"></i>

      <div *ngIf="lists.length > 1" class="header__mobile-dropdown" dropdown
        [isDisabled]="lists.length < 1 || lists == undefined">
        <a dropdownToggle id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
          <img alt="sort" src="assets/svg/mobile/sort.svg" />
        </a>
        <ul *dropdownMenu id="dropdown1" class="header__mobile-dropdown-menu dropdown-menu" role="menu"
          aria-labelledby="menu1">
          <ng-container *ngIf="!discover">
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'createdAt'" (click)="SS.sortIt('createdAt', 0, 4, 3)">
                Created
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'updatedAt'" (click)="SS.sortIt('updatedAt', 1, 4, 3)">
                Updated
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'productCount'" (click)="SS.sortIt('productCount', 2, 4, 3)">
                Products
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'visibility'" (click)="SS.sortIt('visibility', 3, 4, 3)">
                Visibility
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'title'" (click)="SS.sortIt('title', 4, 4, 3)">
                Title
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="discover">
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'followersCount'" (click)="SS.sortIt('followersCount', 0, 3, 3)">
                Followers
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'productCount'" (click)="SS.sortIt('productCount', 1, 3, 3)">
                Products
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'title'" (click)="SS.sortIt('title', 2, 3, 3)">
                Title
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="header__mobile-dropdown" dropdown>
        <a dropdownToggle id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
          <img alt="dots" src="assets/svg/dots.svg" />
        </a>
        <ul *dropdownMenu id="dropdown2" class="header__mobile-dropdown-menu dropdown-menu" role="menu"
          aria-labelledby="menu1">
          <li role="presentation">
            <!-- <a routerLink="/lists/discover" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              Discover
            </a> -->
            <a routerLink="/lists" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              My Lists
            </a>
            <a routerLink="/lists/following" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              Following Lists
            </a>
            <a (click)="message = []; MS.openEditLabelModal(config)">
              Edit Labels
            </a>

          </li>
        </ul>
      </div>
    </span>
  </div>
</div>

<section class="lists" [class.margin]="name === 'Discover Lists'">
  <div class="container">
    <div class="lists__header hidden-xs">
      <h1>Lists</h1>
    </div>
    <ng-container *ngFor="let i of message">
      <alert *ngIf="i"
        [type]="i.type === 'membership-list-error' || i.type === 'list-close-limit-error' ? 'danger' : i.type"
        (onClosed)="close(i)" [dismissOnTimeout]="8000" [dismissible]="true">
        {{ i.value }} <a *ngIf="i.type === 'membership-list-error' || i.type === 'list-close-limit-error'"
          [routerLink]="['/user/settings/billing/subscription']">Upgrade Now</a>
      </alert>
    </ng-container>
    <div class="lists__btns hidden-xs">
      <div class="lists__btns__section">
        <!-- <a routerLink="/lists/discover" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          class="lists__btns__section-item">
          Discover
        </a> -->
        <a routerLink="/lists" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          class="lists__btns__section-item">
          My Lists
        </a>
        <a routerLink="/lists/following" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          class="lists__btns__section-item">
          Following Lists
        </a>
      </div>

      <div class="dropdown-sort" dropdown [isDisabled]="lists.length < 1 || lists == undefined">
        <a dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
          Sort by Category <i class="fa fa-angle-down"></i>
        </a>
        <ul *dropdownMenu role="menu" aria-labelledby="menu1">
          <ng-container *ngIf="!discover">
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'createdAt'" (click)="SS.sortIt('createdAt', 0, 4, 3)">
                Created
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'updatedAt'" (click)="SS.sortIt('updatedAt', 1, 4, 3)">
                Updated
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'productCount'" (click)="SS.sortIt('productCount', 2, 4, 3)">
                Products
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'visibility'" (click)="SS.sortIt('visibility', 3, 4, 3)">
                Visibility
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'title'" (click)="SS.sortIt('title', 4, 4, 3)">
                Title
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="discover">
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'followersCount'" (click)="SS.sortIt('followersCount', 0, 3, 3)">
                Followers
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'productCount'" (click)="SS.sortIt('productCount', 1, 3, 3)">
                Products
              </a>
            </li>
            <li role="menuitem">
              <a [class.active]="SS.activeSort === 'title'" (click)="SS.sortIt('title', 2, 3, 3)">
                Title
              </a>
            </li>
          </ng-container>
        </ul>
      </div>

      <button *ngIf="listsMaxLimit && listsMaxLimit > listLabelService.userLists.length && AS.isAuthenticated() && url === '/lists'"
        class="lists__btns-btn btn btn-primary small hidden-xs"
        (click)="MS.obj = {};MS.openCreateListsModal(config);">Create a List</button>


      <app-lists-filter *ngIf="userLabels && userLabels.length > 0" class="lists__btns-filter" [userLabels]="userLabels"
        (filterLabels)="refreshListsByLabels($event)" [checkedLabels]="filteredLabels">
      </app-lists-filter>

      <div [isDisabled]="lists.length == 0" [class.disabled]="lists.length == 0" class="lists__btns-dropdown" dropdown
        *ngIf="!discover">
        <a dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
          <img alt="sort" src="assets/svg/dots.svg" />
        </a>
        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <ng-container>
            <li role="menuitem">
              <a (click)="message = []; MS.openEditLabelModal(config)">
                Edit Labels
              </a>
            </li>
          </ng-container>
        </ul>
      </div>

    </div>
    <ng-container *ngIf="lists.length > 0; else skeleton">
      <div class="row">
        <ng-container *ngFor="let i of lists">
          <lists-tile class="col col-md-4 col-sm-6 col-xs-12" (action)="listTileAction($event)" [data]="i"
            [discover]="discover" [userLabels]="userLabels" [listLabels]="listLabels[i.id]">
          </lists-tile>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #skeleton>
      <ng-container *ngIf="loading; else empty">
        <div class="skeleton-loading row visible-md visible-lg hidden-sm hidden-xs">
          <ng-container *ngFor="let i of nitems">
            <div class="col col-md-4 col-sm-6 col-xs-12 skeleton-margin-bottom-40">
              <div class="skeleton-loading__grid-card">
                <div class="skeleton-loading__grid">
                  <div class="skeleton-square skeleton-loading__grid-main"></div>
                  <div class="skeleton-loading__grid-thumbnails">
                    <div class="skeleton-square"></div>
                    <div class="skeleton-square"></div>
                    <div class="skeleton-square"></div>
                    <div class="skeleton-square"></div>
                  </div>
                </div>
                <div class="row skeleton-margin-top-20">
                  <div class="col-xs-6 skeleton-bar skeleton-margin-bottom"></div>
                </div>
                <div class="row">
                  <div class="col-xs-2 skeleton-bar"></div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="skeleton-loading col-xs-12 hidden-md hidden-lg visible-sm visible-xs">
          <ng-container *ngFor="let i of nitems">
            <div class="row">
              <div class="col-xs-2 skeleton-bar skeleton-margin-bottom-20"></div>
            </div>
            <div class="row">
              <div class="col-xs-6 skeleton-bar-20 skeleton-margin-bottom"></div>
            </div>
            <div class="row skeleton-margin-bottom">
              <div class="skeleton-loading__flex">
                <div class="skeleton-square"></div>
                <div class="skeleton-square"></div>
                <div class="skeleton-square"></div>
                <div class="skeleton-square"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 skeleton-bar skeleton-margin-bottom-40"></div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #empty>
        <div class="lists__empty">
          <div class="lists__empty-ball">
            <i class="fa fa-list-ol"></i>
            <h3>There are no lists.</h3>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</section>

<div *ngIf="listsMaxLimit && listsMaxLimit > listLabelService.userLists.length && AS.isAuthenticated() && url === '/lists'"
  class="visible-xs lists_plus" (click)="message = []; MS.openCreateListsModal(config);">
  <img alt="" src="assets/svg/mobile/plus.svg" />
</div>

<list-options></list-options>
<lists-create (lists)="refreshLists($event)"></lists-create>
<app-edit-label [userLabels]="userLabels" (editLabelAction)="editLabelActions($event)"></app-edit-label>
<app-change-label [listId]="selectedListId" [userLabels]="userLabels" (labelAction)="listLabelActions($event)">
</app-change-label>
<app-filter-lists *ngIf="userLabels && userLabels.length > 0" [userLabels]="userLabels"
  (filterLabels)="mobileFilterLabels($event)" [checkedLabels]="filteredLabels"></app-filter-lists>
