<div class="row">
  <nav class="col-md-6">
    <h4 class="footer-nav-title">Solutions</h4>
    <ul class="footer-nav__list">
      <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/solutions/parents']">For Parents</a>
      </li>
      <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/solutions/cooks']">For Cooks</a>
      </li>
      <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/solutions/hosts']">For Hosts</a>
      </li>
      <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/solutions/students']">For Students</a>
      </li>
    </ul>
  </nav>
  <nav class="col-md-6">
    <h4 class="footer-nav-title">Resources</h4>
    <ul class="footer-nav__list">
      <li class="footer-nav__list__item">
        <a target="_blank" href="https://grceri.zendesk.com/hc/en-us">Help Center</a>
      </li>
      <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/pricing">Pricing</a>
      </li>
      <li class="footer-nav__list__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</div>