<div class="card-header">
  <h2>Account
    <button class="btn btn-primary small" (click)="editAccount($event)">
      Edit
    </button>
  </h2>
</div>
<div class="card-body">
  <ng-container *ngIf="profile; else loading">
    <div class="row">
      <div class="col col-sm-3 hidden-xs">
        <div>Name</div>
        <div>Address 1</div>
        <div>Address 2</div>
        <div>City</div>
        <div>State</div>
        <div>Zip</div>
        <div>Phone</div>
      </div>
      <div class="col col-sm-9 card-right">
        <div>{{profile.firstName}} {{profile.lastName}}</div>
        <div>{{profile.addressLine1}}</div>
        <div>{{profile.addressLine2}}</div>
        <div>{{profile.city}}</div>
        <div>{{profile.state}}</div>
        <div>{{profile.zip}}</div>
        <div>{{profile.phoneNumber}}</div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="row">
      <div class="col col-sm-3 hidden-xs">
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar"></div>
      </div>
      <div class="col col-sm-9 card-right">
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar skeleton-margin-bottom-20"></div>
        <div class="skeleton-bar"></div>
      </div>
    </div>
  </ng-template>
</div>
