<div class="product__reviews__form">
  <div class="container">
    <div class="row">
      <div class="col col-md-6 col-md-offset-2">
        <h1 class="product__reviews__form-title">Create Review</h1>
        <div class="product__reviews__form__item" *ngIf="product">
          <img class="product__reviews__form__item-img" [src]="product.images" />
          <div class="product__reviews__form__item-title">{{product.name}}</div>
        </div>
        <hr />
        <div class="product__reviews__form__item__group" [formGroup]="Review" *ngIf="!message">
          <div class="form-group">
            <h3 class="product__reviews__form__item__group-title">Overall rating</h3>
            <bar-rating [max]="5" theme="fontawesome-o" formControlName="rating" [(ngModel)]="Rating"></bar-rating>
          </div>
          <div class="form-group">
            <h3 class="product__reviews__form__item__group-title">Add a photo or video</h3>
            <p class="product__reviews__form__item__group-desc">Shoppers find images and videos more helpful than text alone.</p>

            <div class="product__reviews__form__item__group__img" formArrayName="images">
              <ng-container *ngFor="let x of Review.controls['images'].controls; let i = index;" [formGroupName]="i">
                <div class="product__reviews__form__item__group__img__single">
                  <div (click)="removeFile(i)" class="product__reviews__form__item__group__img__single-close">
                    <img class="product__reviews__form__item__group__img__single-close-img" src="./assets/svg/close.svg" />
                  </div>
                  <img class="product__reviews__form__item__group__img__single-img" [src]="x.value.value" height="200">
                </div>
              </ng-container>
              <label for="file" class="product__reviews__form__item__group__img-upload"><img src="./assets/svg/plus.svg"/></label>
              <input type='file' #file id="file" (change)="addFile($event)" accept="image/*">
            </div>
          </div>
          <hr />
          <div class="form-group">
            <h3 class="product__reviews__form__item__group-title">Add a headline</h3>
            <input type="text" class="product__reviews__form__item__group-input" placeholder="What's most important to know?" formControlName="title" />
          </div>
          <div class="form-group">
            <h3 class="product__reviews__form__item__group-title">Write your review</h3>
            <textarea class="product__reviews__form__item__group-text-area" placeholder="What did you like or dislike? What did you use this product for?"
              formControlName="description"></textarea>
          </div>
          <button class="product__reviews__form__item__group-btn btn-primary btn" [disabled]="!Review.valid" (click)="submit(this.Review.value)">Submit</button>
        </div>
        <div *ngIf="message" class="alert" [ngClass]="{
          'alert-success': alert == 'success',
          'alert-danger': alert == 'error'
        }">{{message}}</div>
      </div>
      <div class="col col-md-2">
        <div class="ad-vertical text-center">
          <small>advertisement</small>
        </div>
      </div>
    </div>
  </div>
</div>