<ol class="breadcrumb">
  <li>
    <a [routerLink]="['/groceries/']">Groceries</a>
  </li>

  <ng-container *ngIf="category">
    <li>
      <a [routerLink]="['/groceries/', cat]">{{ f[0] }}</a>
    </li>
    <li *ngIf="sub">
      <a [routerLink]="['/groceries/', cat, sub]">{{ f[1] }}</a>
    </li>
    <li *ngIf="subc">
      <a [routerLink]="['/groceries/', cat, sub, subc]">{{ f[2] }}</a>
    </li>
  </ng-container>

  <ng-container *ngIf="cart">
    <li>
      <a [routerLink]="['/groceries/cart']">Cart</a>
    </li>
  </ng-container>

  <ng-container *ngIf="product">
    <ng-container *ngFor="let i of bc">
      <li>
        <a [routerLink]="['/groceries'].concat(i.url.split('/'))">{{ i.name }}</a>
      </li>
    </ng-container>
</ng-container>

</ol>