<div class="container dashboard">
  <header class="dashboard__header">
    <div class="row">
      <div class="col col-md-10">
        <h1 class="dashboard__header-title">Good Evening,
          <span *ngIf="load">{{profile.nickname}}</span>!
        </h1>
        <p class="dashboard__header-text">Here are some custom recommendations and account stats to help you get things
          done tonight.</p>
      </div>
      <div class="col col-md-2">
        <a class="btn dashboard__header-btn" routerLink="/lists">Create List</a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <h3>Explore Grceri</h3>
      <div class="row">
        <div class="col col-md-3">

        </div>
        <div class="col col-md-3">
          <small>Lists</small>
          <h4>Create a Grocery list</h4>
          <p>Use a Facebook ad to grow your list, re-engage your subscribers, or find new customers.</p>
          <a class="btn">About Grcery Lists</a>
        </div>
        <div class="col col-md-3">
          <small>Lists</small>
          <h4>Create a Grocery list</h4>
          <p>Use a Facebook ad to grow your list, re-engage your subscribers, or find new customers.</p>
          <a class="btn">About Grcery Lists</a>
        </div>
        <div class="col col-md-3">
          <small>Lists</small>
          <h4>Create a Grocery list</h4>
          <p>Use a Facebook ad to grow your list, re-engage your subscribers, or find new customers.</p>
          <a class="btn">About Grcery Lists</a>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="dashboard__sections">
        <li class="dashboard__sections__section active">Overview</li>
        <li class="dashboard__sections__section">Activity</li>
      </ul>
      <div class="dashboard__content">
        <h4 class="dashboard__content-title">Nutrition</h4>
        <div class="row">
          <div class="col col-md-3">
            <h6 class="dashboard__content-subtitle">Grocery List:</h6>
            <select class="dashboard__content__select">
              <option>Grocery List 1</option>
              <option>Grocery List 2</option>
            </select>

            <ul class="dashboard__content__total">
              <li class="dashboard__content__total-item">Total Calories:</li>
              <li class="dashboard__content__total-item">Total Fat:</li>
              <li class="dashboard__content__total-item">Total Protein:</li>
              <li class="dashboard__content__total-item">Total Sugar:</li>
            </ul>
            <a class="btn" routerLink="/lists">View Lists</a>
          </div>
          <div class="col col-md-9">
            <ul class="dashboard__content__types">
              <li class="dashboard__content__types-type active">Summary</li>
              <li class="dashboard__content__types-type">Calories</li>
            </ul>

            <!-- <div class="dashboard__content__nutrition">
              <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="dashboard__content__calories active">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row dashboard__tips">
      <div class="col col-md-4 dashboard__tips__tip">
        Tip: See which subject lines get the most opens and clicks with an A/B test.
      </div>
      <div class="col col-md-4 dashboard__tips__tip">
        Tip: See which subject lines get the most opens and clicks with an A/B test.
      </div>
      <div class="col col-md-4 dashboard__tips__tip">
        Tip: See which subject lines get the most opens and clicks with an A/B test.
      </div>
    </div>
    <div class="dashboard__content">
      <h4 class="dashboard__content-title">Lists</h4>
      <div class="row">
        <div class="col col-md-3">
          <div class="number"></div>
          <h3>Lists Created</h3>

          <div class="created">
            <div class="created__list">
              <small>Calories</small>
              <div class="created__list__number">
                <div class="created__list__number-total"></div>
                <div class="created__list__number-percent"></div>
              </div>
            </div>
            <div class="created__list">
              <small>Fats</small>
              <div class="created__list__number">
                <div class="created__list__number-total"></div>
                <div class="created__list__number-percent"></div>
              </div>
            </div>
            <div class="created__list">
              <small>Protein</small>
              <div class="created__list__number">
                <div class="created__list__number-total"></div>
                <div class="created__list__number-percent"></div>
              </div>
            </div>
            <div class="created__list">
              <small>Sugar</small>
              <div class="created__list__number">
                <div class="created__list__number-total"></div>
                <div class="created__list__number-percent"></div>
              </div>
            </div>
            <a class="btn" routerLink="/reports">View Reports</a>
          </div>
        </div>
        <div class="col col-md-9">
          <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

    </div>
    <div class="row dashboard__tips">
      <div class="col col-md-4 dashboard__tips__tip">
        Tip: See which subject lines get the most opens and clicks with an A/B test.
      </div>
      <div class="col col-md-4 dashboard__tips__tip">
        Tip: See which subject lines get the most opens and clicks with an A/B test.
      </div>
      <div class="col col-md-4 dashboard__tips__tip">
        Tip: See which subject lines get the most opens and clicks with an A/B test.
      </div>
    </div>
  </div>
</div>