<form [formGroup]="form">
  <div class="filter-dropdown" dropdown [insideClick]="true">
    <i dropdownToggle data-toggle="dropdown" class="fa fa-filter" aria-hidden="true"></i>
    <ul formArrayName="label" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <ng-container *ngFor="let control of form.controls.label.controls; let idx = index;" [formGroupName]="idx">
        <li (click)="onChangeListLabel(control)">
          <label [for]="control.get('name').value"><input type="checkbox" formControlName="selected">
            {{control.get('name').value}}</label>
        </li>
      </ng-container>
    </ul>
  </div>
</form>
