@import "../../../../../../../../assets/css/abstracts/_mixins.scss";
@import "../../../../../../../../assets/css/abstracts/_variables.scss";

:host {
  @media screen and (max-width: $screen-sm) {
    button {
      width: 100%;
      margin-top: 20px;
      padding: 10px;
    }
  }
}
