<div class="breadcrumb-single">
  <div class="container">
    <breadcrumb></breadcrumb>
  </div>
</div>

<div class="container">
  <div class="empty" *ngIf="cartItems == ''">
    <div class="cart">
      <img src="./assets/svg/cart.svg" />
      <h2>Empty Shopping Cart</h2>
      <p>Looks like you haven't added any items to your shopping cart.</p>
      <a class="btn btn-primary" [routerLink]="['/groceries']">Shop Groceries</a>
    </div>
  </div>
  <div class="cart" *ngIf="cartItems > ''">
    <div class="listing-header">
      <div class="listing-header__body">
        <div class="row">
          <div class="col col-md-6">
            <div class="listing-header__body-titles">
              <h1>{{totalQuantity()}} item(s) in your bag.</h1>
              <h3>Create a new shopping list or add to an existing one.</h3>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="listing-header__body-btns">
              <button *ngIf="AS.isAuthenticated()" class="btn" [routerLink]="['/user/lists/add']">Add</button>
              <button class="btn btn-primary" [routerLink]="['/user/lists/create']">Create</button>
            </div>
          </div>
        </div>
      </div>
      <div class="listing-header__items-heading" aria-hidden="true">
        <div class="row">
          <div class="col-xs-8">
            <div class="listing-header__first-item">Item</div>
          </div>
          <div class="col-xs-1 listing-header__quantity-column">Quantity</div>
          <div class="col-xs-3 align-right">
            <div class="listing-header__last-item">Price</div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-listing__items">
      <div class="cart-item" *ngFor="let item of cartItems">
        <div class="row">
          <div class="col-xs-8">
            <div class="cart-item__details">
              <span class="sr-only">Item</span>
              <div class="cart-item__image-wrapper">
                <img class="cart-item__image-wrapper__image" [src]="item.images[0]" alt="{{item.name}}">
              </div>
              <a [routerLink]="['/grocery/', product(item.category), product(item.name)]" class="cart-item__title">{{item.name}}</a>
            </div>
          </div>
          <div class="cart-item__quantity-block col-xs-1">
            <span class="sr-only">Quantity</span>
            <kendo-dropdownlist *ngIf="item.quantity <= 6" [data]="quantity" [(ngModel)]="item.quantity" class="cart-item__quantity-block-dropdown"
              (valueChange)="qtyChange(item)">
            </kendo-dropdownlist>
            <input (change)="qtyChange(item)" *ngIf="item.quantity > 6" type="number" [(ngModel)]="item.quantity" class="k-dropdown-wrap" />
            <a class="cart-item__quantity-block__remove" title="Remove" (click)="removeItem(item)">Remove</a>
            <a class="cart-item__quantity-block__save" title="Save for Later" (click)="saveItem(item)">Save for Later</a>
          </div>
          <div class="cart-item__price-block col-xs-3">
            <div class="align-right">
              <span class="sr-only">Price</span>
              <div class="cart-item__price-block-price">$ {{getAmount(item)}}</div>
              <div *ngIf="item.quantity > 1" class="cart-item__price-block-each">($ {{item.price}} each)</div>
              <div *ngIf="getSavings(item) > 0" class="cart-item__price-block__savings">
                <div class="cart-item__price-block__savings-discount">Best Price</div>
                <div class="cart-item__price-block__savings-saved">
                  <input id="getSavingsItem" type="hidden" value="getSavings(item)" />
                  Save ${{getSavings(item)}}
                </div>
                <div class="cart-item__price-block__savings-highest"> Highest ${{getHighestSavings(item)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-9">
        <div class="viewed">
          <div class="viewed__tabs">
            <a [class.active]="suggestedClick" (click)="suggested('viewed')">Recently Viewed</a>
            <a [class.active]="!suggestedClick" (click)="suggested('saved')">Saved</a>
          </div>
          <div class="viewed__results">
            <ng-container *ngFor="let item of items">
              <div *ngIf="suggestedClick && !AS.isAuthenticated() || !suggestedClick && AS.isAuthenticated() || suggestedClick" class="viewed__results__result">
                <div class="row">
                  <div class="col-xs-10">
                    <div class="viewed__results__result__details">
                      <span class="sr-only">Item</span>
                      <div class="viewed__results__result__details__image-wrapper">
                        <img class="viewed__results__result__details__image-wrapper-image" [src]="item.images[0]" alt="{{item.name}}" />
                      </div>
                      <a class="viewed__results__result__details-title" [routerLink]="['/grocery/', product(item.category), product(item.name)]">{{item.name}}</a>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="viewed__results__result__price-block align-right">
                      <span class="sr-only">Price</span>
                      <div class="viewed__results__result__price-block-price">$ {{item.price}}</div>
                      <a (click)="addCart(item)" class="viewed__results__result__price-block-btn btn btn-primary">Add
                        to Cart</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewed__results__result-none" *ngIf="item.length === 0 || !item">
                No items to display
              </div>
            </ng-container>
            <div *ngIf="!suggestedClick && !AS.isAuthenticated()" class="viewed__results__result-login">
              <a (click)="(login(router.url))">Please Login to View</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-3">
        <div class="listing-footer">
          <div class="listing-footer__order-summary">
            <div class="listing-footer__order-summary__pricing">
              <div class="listing-footer__order-summary__pricing__savings clearfix">
                <div class="listing-footer__order-summary__pricing__savings-description">Today’s Savings</div>
                <div class="listing-footer__order-summary__pricing__savings-value">$ {{getTotalSavings()}}</div>
              </div>
              <div class="listing-footer__order-summary__pricing__total clearfix">
                <div class="listing-footer__order-summary__pricing__total-description">Product Total</div>
                <div class="listing-footer__order-summary__pricing__total-value">$ {{getTotalAmount()}}</div>
              </div>
            </div>
            <div class="listing-footer__button">
              <button class="btn btn-primary" [routerLink]="['/user/lists/create']">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recommendations">
      <h2>A few recommendations.</h2>
      <slider #slider="slider" [showControls]="true" multiple="true" items="7">
        <ng-container *ngFor="let i of recs;">
          <ng-container *sliderItem>
            <item [cat]="i.category" [id]="i.cat_id" [rating]="i.rating" [name]="i.name" [images]="i.images" [price]="i.price"
              [currency]="i.currency"></item>
          </ng-container>
        </ng-container>
      </slider>
    </div>
  </div>