<hr *ngIf="sellers.length > 0" />

<div class="product__details__section__sellers" *ngIf="sellers.length > 0">
  <h4 class="product__details__section__sellers-title">{{sellers.length}} other seller(s) from
    ${{data.price}}</h4>

  <ng-container *ngFor="let i of sellers; let x = index">
    <div class="product__details__section__sellers__seller" *ngIf="x < 2">
      <div class="product__details__section__sellers__seller-price">${{ i.price }}</div>
      <div class="product__details__section__sellers__seller-name">
        Sold & Shipped by <a (click)="login(router.url, 'login')" *ngIf="!AS.isAuthenticated()">Login to See</a><a
          *ngIf="AS.isAuthenticated()">{{ i.seller }}</a>
      </div>
    </div>
  </ng-container>

  <a [routerLink]="['./vendors']" class="product__details__section__sellers-btn btn">Compare all {{sellers.length}}
    sellers</a>

</div>
